.card-header {
	//background-color : #8E2BFF;
	color: white;
	background-image: url("../../assets/img/stars.jpg")
}

.list-group-item:hover {
	background-color: #ecf0f1;
}

#main-wrapper {
	background-image: url("../../assets/img/c1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 30px;
	min-height: 100vh;
	;
}

.card {
	padding: 10px;
	margin: 30px auto;
	background-color: white;
	text-align: center;
	transition: all ease .3s;
}

.card:hover {
	box-shadow: 0 15px 50px 0 rgba(255, 255, 255, 0.8);
}

#not-found {
	color: #ecf0f1;
	margin: 20px;
}