<div id="main-wrapper">
    <div class="container">
        <div class="row input-group mb-5">
            <input [(ngModel)]="searchText" type="text" (keyup)="filterPeople(searchText)" placeholder="Search for people" class="form-control" id="search-box">
            <span class="input-group-append"><i class="fa fa-search input-group-text"></i></span>
        </div>

        <div class="row" *ngIf="success" cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="card col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-7" *ngFor="let character of filteredChars" cdkDrag>
                <div class="card-header">
                    <h5 class="card-title">{{character.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{character.url}}" class="card-link">URL</a></li>
                    <li class="list-group-item">Height: {{character.height}}</li>
                    <li class="list-group-item"><a href="{{character.homeworld}}" class="card-link">homeWorld</a></li>
                </ul>
            </div>
        </div>
        <h5 id="not-found" *ngIf="filteredChars.length == 0 && !first">No result matches your search :(</h5>
    </div>
</div>